[submodule "alacritty-themes"]
    path = alacritty/.config/alacritty/themes/themes
    url = git@github.com:alacritty/alacritty-theme.git

[submodule "helix-gruvbox-community"]
    path = helix/.config/helix/themes/custom/helix_gruvbox_community
    url = git@github.com:jeronimobarea/helix_gruvbox_community.git

[submodule "thunes"]
    path = thunes
    url = git@github.com:jeronimobarea/thunes.git
