[submodule "alacritty-themes"]
    path = alacritty/.config/alacritty/themes
    url = git@github.com:alacritty/alacritty-theme.git

[submodule "ranger-devicons"]
    path = ranger/.config/ranger/plugins/ranger_devicons
    url = git@github.com:alexanderjeurissen/ranger_devicons.git

[submodule "helix-gruvbox-community"]
    path = helix/.config/helix/themes/custom/helix_gruvbox_community
    url = git@github.com:jeronimobarea/helix_gruvbox_community.git

[submodule "toml-merge"]
    path = utils/toml-merge
    url = git@github.com:jeronimobarea/toml-merge.git